h1 {
    text-align: center;
    color: darkslategray;
    /*content:5px;*/
    background-color: lightsteelblue;
    padding: 3px;
    border: 2px solid darkslategray;
    margin-bottom: 10px;
}
h2 {
    text-align: left;
    color: darkslategray;
    content:5px;
    background-color: lightsteelblue;
    padding: 3px;
    border: 2px solid darkslategray;
    margin-bottom: 10px;
}
td, th {
    border: 1px solid black;
    padding: 4px;
}

th {
    background-color:darkslategray;
    color: lightsteelblue;
}

table {
    border-collapse: collapse;
}
