h1 {
    text-align: center;
    color: darkslategray;
    /*background-color: lightgray;*/
    content:2px;
    background-color: lightsteelblue;
    padding: 3px;
    border: 2px solid darkslategray;
    margin-bottom: 10px;
}
