h1 {
    text-align: center;
    color: darkslategray;
    /*content:5px;*/
    background-color: lightsteelblue;
    padding: 3px;
    border: 2px solid darkslategray;
    margin-bottom: 10px;
}
h2 {
    text-align: left;
    color: darkslateblue;
    /*content:5px;*/
    background-color: lightgray;
    padding: 3px;
    border: 2px solid darkslateblue;
    margin-bottom: 10px;
}
td, th {
    border: 1px solid black;
    padding: 15px;
}

th {
    background-color:darkslategray;
    color: white;
}

table {
    border-collapse: collapse;
}
blockquote {
    text-align: right;
}
