h1 {
    
    text-align: center;
    color: darkslategray;
    background-color: lightsteelblue;
    padding: 3px;
    border: 2px solid darkslategray;
    margin-bottom: 10px;
}
h2 {
    text-align: left;
    color: darkslateblue;
    background-color: lightgray;
    padding: 3px;
    border: 2px solid darkslateblue;
    margin-bottom: 10px;
}
td, th {
    border: 1px solid black;
    padding: 15px;
}

th {
    background-color:darkslategray;
    color: lightgray;
}

table {
    border-collapse: collapse;
}
/*blockquote {
    text-align: right;
}*/
p{
    text-align:justify;
    line-height:1.2;
    letter-spacing:2px;
}
a{
    text-decoration:none;
}
a:link{
    color:darkslategrey;
    text-decoration:none;
    border-bottom:1px;
}
a:visited{
    color:lightgray;
}
    a:hover {
        color: darkslateblue;
    }